<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Dao层 -->
	<bean id="userDao" class="spring_aop_1.dao.impl.UserDaoImpl"></bean>
	
	<!-- Service层  Service层需要使用Dao层 -->
	<bean id="userService" class="spring_aop_1.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- Controller层  Controller层需要使用Service层-->
	<bean id="userController" class="spring_aop_1.controller.UserController">
		<property name="userService" ref="userService"></property>
	</bean>
</beans>
